body {
  background-color: #177e8e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html, body {
  height: 95%;
}

.page-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.content-wrapper {
  display: -ms-grid;
  display: grid;
}

#store-name {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 72px;
  color: #c0c0c0;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#top-bar {
  grid-area: header;
  text-align: right;
}

ul {
  list-style-type: none;
}

#cart-button {
  float: right;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cart-button img {
  height: 30px;
  margin-right: 5px;
}

#cart-button:hover {
  color: #fff;
}

#cart-button .cart-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  border-radius: 5px;
  background-color: #0c5460;
  color: #fff;
  display: none;
}

#cart-button:hover .cart-dropdown {
  display: block;
}

.cart-dropdown {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 400px;
  overflow-y: auto;
  width: 400px;
  background-color: #0f8c8c;
  border-radius: 5px;
  z-index: 1;
  border: 10px solid black;
  color: white;
  padding: 20px;
}

.cart-dropdown.show {
  display: block;
}

.empty-message {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#login-button {
  margin-top: 5px;
}

#register-button {
  margin-top: 5px;
}

#category-buttons {
  text-align: center;
}

.content_list {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.content_list li {
  display: inline-block;
}

.category-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #177e8e;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 150px;
}

.category-button:hover {
  background-color: #126d7a;
}

#products {
  grid-area: content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.product {
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product-image {
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.buy-button {
  background-color: #ffa500;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #ff8c00;
}

.footer {
  grid-area: footer;
  bottom: 0;
  background-color: #383838;
  color: #ddd;
  margin-top: 250px; /*570px*/
  height: 110px;
}

.footer_left {
  margin-top: 20px;
  margin-left: 20px;
  position: center;
  width: 150px;
  height: 50px;
  float: left;
}

.footer_center {
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: 50px;
  float: left;
  background-position: center top;
  background-repeat: no-repeat;
}

.footer_right {
  font-size: 17.8px;
  width: 350px;
  height: 50px;
  float: right;
}

#cart-button {
  float: right;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_right a {
  color: #00CED1;
}

.footer_right a:visited {
  color: #00CED1;
}

@media (min-width: 0px) {
  .content-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px 100px 100px auto 100px;
    grid-template-rows: 100px 100px 100px auto 100px;
        grid-template-areas: "header" "aside" "content" "footer";
  }
  #top-bar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #products {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
@media (min-width: 350px) {
  .footer {
    margin-top: 1900px;
    height: 260px;
  }
}
@media (min-width: 423px) {
  .footer {
    height: 180px;
  }
}
@media (min-width: 601px) {
  .content-wrapper {
    -ms-grid-columns: 0.5fr 4fr;
    grid-template-columns: 0.5fr 4fr;
    -ms-grid-rows: 100px 100px auto;
    grid-template-rows: 100px 100px auto;
        grid-template-areas: "header header" "aside content" "footer footer";
  }
  #top-bar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  #products {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}
@media (min-width: 756px) {
  .footer {
    height: 140px;
  }
}
@media (min-width: 853px) {
  .footer {
    margin-top: 920px;
    height: 110px;
  }
}
@media (min-width: 1183px) {
  .footer {
    margin-top: 620px;
    height: 110px;
  }
}